<div class="container "> 
  
  <div >
  <!--Section: Products v.5-->
  <!-- <div *ngIf="this.listitem.length>0">
    Welcome back, friend.
  </div> -->
<section class="text-center pb-3 my-5" >
  <!--Section heading--> 
  <!--Carousel Wrapper-->
  <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
    [animation]="'slide'">
    <!--First slide-->
    <mdb-slide>
      <div class="col-md-4">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
              alt="sample photo"></mdb-card-img>
            <a>
              <div class="mask waves-effect waves-light"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="" class="text-muted">
              <h5>Shoes</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">Leather boots</a>
                </strong>
              </h4>
            </mdb-card-title>
            <!--Description-->
            <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
              adipisci.
            </mdb-card-text>
            <!--Card footer-->
            <mdb-card-footer>
              <span class="float-left">69$</span>
              <span class="float-right">
                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                  <mdb-icon far icon="eye" class="ml-3"></mdb-icon>
                </a>
                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                  <mdb-icon far icon="heart" class="ml-3"></mdb-icon>
                </a>
              </span>
            </mdb-card-footer>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--Card-->
      </div>
      <div class="col-md-4 clearfix d-none d-md-block">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(22).jpg"
              alt="sample photo"></mdb-card-img>
            <a>
              <div class="mask waves-effect waves-light"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="" class="text-muted">
              <h5>Jeans</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">Slim jeans</a>
                </strong>
              </h4>
            </mdb-card-title>
            <!--Description-->
            <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
              adipisci.
            </mdb-card-text>
            <!--Card footer-->
            <mdb-card-footer>
              <span class="float-left">69$</span>
              <span class="float-right">
                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                  <mdb-icon far icon="eye" class="ml-3"></mdb-icon>
                </a>
                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                  <mdb-icon far icon="heart" class="ml-3"></mdb-icon>
                </a>
              </span>
            </mdb-card-footer>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--Card-->
      </div>
      <div class="col-md-4 clearfix d-none d-md-block">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/img%20(31).jpg" alt="sample photo"></mdb-card-img>
            <a>
              <div class="mask waves-effect waves-light"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="" class="text-muted">
              <h5>Shorts</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">Denim shorts</a>
                </strong>
              </h4>
            </mdb-card-title>
            <!--Description-->
            <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
              adipisci.
            </mdb-card-text>
            <!--Card footer-->
            <mdb-card-footer>
              <span class="float-left">69$</span>
              <span class="float-right">
                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                  <mdb-icon far icon="eye" class="ml-3"></mdb-icon>
                </a>
                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                  <mdb-icon far icon="heart" class="ml-3"></mdb-icon>
                </a>
              </span>
            </mdb-card-footer>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--Card-->
      </div>
    </mdb-slide>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-slide>
      <div class="col-md-4">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(30).jpg"
              alt="sample photo"></mdb-card-img>
            <a>
              <div class="mask waves-effect waves-light"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="" class="text-muted">
              <h5>Accessories</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">Summer hat</a>
                </strong>
              </h4>
            </mdb-card-title>
            <!--Description-->
            <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
              adipisci.
            </mdb-card-text>
            <!--Card footer-->
            <mdb-card-footer>
              <span class="float-left">69$</span>
              <span class="float-right">
                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                  <mdb-icon far icon="eye" class="ml-3"></mdb-icon>
                </a>
                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                  <mdb-icon far icon="heart" class="ml-3"></mdb-icon>
                </a>
              </span>
            </mdb-card-footer>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--Card-->
      </div>
      <div class="col-md-4 clearfix d-none d-md-block">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(37).jpg"
              alt="sample photo"></mdb-card-img>
            <a>
              <div class="mask waves-effect waves-light"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="" class="text-muted">
              <h5>Shoes</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">Black heels</a>
                </strong>
              </h4>
            </mdb-card-title>
            <!--Description-->
            <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
              adipisci.
            </mdb-card-text>
            <!--Card footer-->
            <mdb-card-footer>
              <span class="float-left">69$</span>
              <span class="float-right">
                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                  <mdb-icon far icon="eye" class="ml-3"></mdb-icon>
                </a>
                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                  <mdb-icon far icon="heart" class="ml-3"></mdb-icon>
                </a>
              </span>
            </mdb-card-footer>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--Card-->
      </div>
      <div class="col-md-4 clearfix d-none d-md-block">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(31).jpg"
              alt="sample photo"></mdb-card-img>
            <a>
              <div class="mask waves-effect waves-light"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="" class="text-muted">
              <h5>Outerwear</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">Black jacket</a>
                </strong>
              </h4>
            </mdb-card-title>
            <!--Description-->
            <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
              adipisci.
            </mdb-card-text>
            <!--Card footer-->
            <mdb-card-footer>
              <span class="float-left">69$</span>
              <span class="float-right">
                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                  <mdb-icon far icon="eye" class="ml-3"></mdb-icon>
                </a>
                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                  <mdb-icon far icon="heart" class="ml-3"></mdb-icon>
                </a>
              </span>
            </mdb-card-footer>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--Card-->
      </div>
    </mdb-slide>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-slide>
      <div class="col-md-4">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(38).jpg"
              alt="sample photo"></mdb-card-img>
            <a>
              <div class="mask waves-effect waves-light"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="" class="text-muted">
              <h5>Accessories</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">Leather bag</a>
                </strong>
              </h4>
            </mdb-card-title>
            <!--Description-->
            <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
              adipisci.
            </mdb-card-text>
            <!--Card footer-->
            <mdb-card-footer>
              <span class="float-left">69$</span>
              <span class="float-right">
                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                  <mdb-icon far icon="eye" class="ml-3"></mdb-icon>
                </a>
                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                  <mdb-icon far icon="heart" class="ml-3"></mdb-icon>
                </a>
              </span>
            </mdb-card-footer>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--Card-->
      </div>
      <div class="col-md-4 clearfix d-none d-md-block">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/belt.jpg" alt="sample photo"></mdb-card-img>
            <a>
              <div class="mask waves-effect waves-light"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="" class="text-muted">
              <h5>Accessories</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">Leather belt</a>
                </strong>
              </h4>
            </mdb-card-title>
            <!--Description-->
            <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
              adipisci.
            </mdb-card-text>
            <!--Card footer-->
            <mdb-card-footer>
              <span class="float-left">69$</span>
              <span class="float-right">
                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                  <mdb-icon far icon="eye" class="ml-3"></mdb-icon>
                </a>
                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                  <mdb-icon far icon="heart" class="ml-3"></mdb-icon>
                </a>
              </span>
            </mdb-card-footer>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--Card-->
      </div>
      <div class="col-md-4 clearfix d-none d-md-block">              
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                  <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(57).jpg"
                    alt="sample photo"></mdb-card-img>
                  <a>
                    <div class="mask waves-effect waves-light"></div>
                  </a>
                </div>
                <!--Card image-->
                <!--Card content-->
                <mdb-card-body cascade="true" class="text-center no-padding">
                  <!--Category & Title-->
                  <a href="" class="text-muted">
                    <h5>Shoes</h5>
                  </a>
                  <mdb-card-title>
                    <h4 class="card-title my-4">
                      <strong>
                        <a href="">Sneakers</a>
                      </strong>
                    </h4>
                  </mdb-card-title>
                  <!--Description-->
                  <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                    adipisci.
                  </mdb-card-text>
                  <!--Card footer-->
                  <mdb-card-footer>
                    <span class="float-left">69$</span>
                    <span class="float-right">
                      <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                        <mdb-icon far icon="eye" class="ml-3"></mdb-icon>
                      </a>
                      <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                        <mdb-icon far icon="heart" class="ml-3"></mdb-icon>
                      </a>
                    </span>
                  </mdb-card-footer>
                </mdb-card-body>
                <!--Card content-->
        </mdb-card> 
        <div class="grey-text">
          <!-- <mdb-icon fas [icon]="star == 4 ? 'star-o' : 'star'" *ngFor="let star of stars; let i = index"></mdb-icon> -->
        </div>
        <!--Card-->
      </div>
    </mdb-slide>
    <!--/Third slide-->
  </mdb-carousel>
  <!--/.Carousel Wrapper-->

</section>
<!--Section: Products v.5-->
 
    <!-- <h1 class="app-heading mb-4">Kam Store Angular</h1> 
    <div class="col-md-12 text-center fadeIn animated">-->
      <!-- <div class="row">
        <div class="row d-flex flex-center">         
          <div class="col-md-4 mb-4">
            <mdb-card  bordercolor="border-secondary" style="max-width: 20rem;" class="border-secondary card">
              <mdb-card-header  class="card-header">Header</mdb-card-header>
              <mdb-card-body  class="card-body">
                <mdb-card-title  class="card-title">
                  <h5 >Secondary Panel title</h5>
                </mdb-card-title>
                <mdb-card-text >
                  <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                </mdb-card-text>
              </mdb-card-body>
            </mdb-card>
          </div>
          <div class="col-md-4 mb-4">
            <mdb-card  bordercolor="border-success" style="max-width: 20rem;" class="border-success card">
              <mdb-card-header  class="card-header">Header</mdb-card-header>
              <mdb-card-body  class="card-body">
                <mdb-card-title  class="card-title">
                  <h5 >Secondary Panel title</h5>
                </mdb-card-title>
                <mdb-card-text >
                  <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                </mdb-card-text>
              </mdb-card-body>
            </mdb-card>
          </div>
          <div class="col-md-4 mb-4">
            <mdb-card  bordercolor="border-info" style="max-width: 20rem;" class="border-info card">
              <mdb-card-header  class="card-header">Header</mdb-card-header>
              <mdb-card-body  class="card-body">
                <mdb-card-title  class="card-title">
                  <h5 >Secondary Panel title</h5>
                </mdb-card-title>
                <mdb-card-text >
                  <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                </mdb-card-text>
              </mdb-card-body>
            </mdb-card>
          </div>
        </div>
      </div> -->
      
      <!-- <a mdbBtn color="primary" size="lg" class="mb-2" routerLink="/register">Create account</a>
      <p>
        <small>Already have an account?
          <a routerLink="/login">Log in</a></small>
      </p> 
    </div>-->
  </div>
</div>
<div class="container py-5">
  <div class="row" >
    <div *ngFor="let p of listitem;" >
      <section  class="text-center mb-4">
        <div  class="row wow fadeIn">
           <div  class="col-lg-10 col-md-6 mb-4">
              <div  class="card">
                 <div  class="view overlay">
                    <img  alt=""  class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg"> <!-- "https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg"-->
                    <a  >
                       <div  class="mask rgba-white-slight">{{p.item_marka_name}}</div>
                    </a>
                 </div>
                 <div  class="card-body text-center">
                    <a  class="grey-text" href="">
                       <h5 >{{p.item_name}}</h5>
                    </a>
                    <h5 ><strong ><a  class="dark-grey-text" href="">Denim shirt
                       <span  class="badge badge-pill danger-color">NEW</span>
                      </a></strong>
                    </h5>
                    <h4  class="font-weight-bold blue-text"><strong >{{p.item_sales_price}}</strong></h4>
                 </div>
              </div>
           </div>           
        </div>       
     </section>    
    </div> 
   
  </div>
   <nav class="d-flex justify-content-center wow fadeIn">
      <ul class="pagination pg-blue">

        <!--Arrow left-->
        <li class="page-item disabled">
          <a class="page-link waves-effect" href="#" aria-label="Previous">
            <span aria-hidden="true">«</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>

        <li class="page-item active">
          <a class="page-link waves-effect" href="#">1
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link waves-effect" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link waves-effect" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link waves-effect" href="#">4</a>
        </li>
        <li class="page-item">
          <a class="page-link waves-effect" href="#">5</a>
        </li>

        <li class="page-item">
          <a class="page-link waves-effect" href="#" aria-label="Next">
            <span aria-hidden="true">»</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
  </nav>  
</div>
