<div class="col-md-12">
    <mdb-card class="animated fadeIn mb-3" borderColor="border-warning">
      <mdb-card-header>Add/Edit/Delete Items</mdb-card-header>
      <mdb-card-body class="p-3">  
      <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2">
          <button type="button" mdbBtn color="primary" class="btn btn-success btn-rounded btn-sm my-0"
          (click)="additem.show()" (click)="_additem()">Add <i class="fas fa-plus fa-2x" aria-hidden="true"></i></button>
          </span> 
          <div mdbModal #additem="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fluid " role="document" style="width: 900px;height: auto" borderColor="border-warning">
              <div class="modal-content">
                <div class="card-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="additem.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100" id="myModalLabel"><span>Mal daxili</span></h4>
                </div>               
              <form [formGroup]="itemForm" class="normal-form" >               
                <div class="modal-body" > 
                  <div class="row">
                    <div class="col-sm-3">
                      <label for="formGroupExampleInput">Firma</label>
                     <input readonly type="text" [(ngModel)]="item.firma_Id" name="item_name" placeholder="firma yazin" class="form-control" formControlName="firma_Id" mdbInput> 
                      <!-- <select [(ngModel)]="firname"  name="_fir" formControlName="firma_Id" (change)="selfir($event.target.value)"                       
                           class="browser-default custom-select" >
                             <option >Choose</option>                                    
                       <option *ngFor="let o of _firma" [value]="o.firma_name" >{{o.firma_name}}</option>                                 
                     </select>  -->
                     </div>  
                    <div class="col-sm-3">
                        <label for="formGroupExampleInput">Cinsi seçin</label>
                        <select [(ngModel)]="gender"  name="_gen" formControlName="gender_Id" (change)="selgen($event.target.value)"                       
                             class="browser-default custom-select" >
                               <option >Choose</option>                                    
                         <option *ngFor="let o of _gender" [value]="o.gender_name" >{{o.gender_name}}</option>                                 
                       </select>    
                    </div>  
                    <div class="col-sm-3">
                        <label for="formGroupExampleInput">Categoriya seçin</label>
                    <select [(ngModel)]="catname"  name="_cat" formControlName="item_categoriy_Id" (change)="selcate($event.target.value)"                       
                         class="browser-default custom-select" >
                           <option >Choose</option>                                    
                     <option *ngFor="let o of _cate" [value]="o.item_categoriy_name" >{{o.item_categoriy_name}}</option>                                 
                   </select>  
                      </div>                 
                      <div class="col-sm-3">
                        <label for="formGroupExampleInput">Marka seçin</label>
                        <select [(ngModel)]="marname"  name="_mar" formControlName="item_marka_Id" (change)="selmar($event.target.value)"                       
                             class="browser-default custom-select" >
                               <option >Choose</option>                                    
                         <option *ngFor="let o of _marka" [value]="o.item_marka_name" >{{o.item_marka_name}}</option>                                 
                       </select>  
                    </div> 
                    <div class="col-sm-3">  
                      <label for="formGroupExampleInput">Color seçin</label>
                      <select [(ngModel)]="colname"  name="_col" formControlName="item_color_Id" (change)="selcol($event.target.value)"                       
                           class="browser-default custom-select" >
                             <option >Choose</option>                                    
                       <option *ngFor="let o of _color" [value]="o.item_color" >{{o.item_color}}</option>                                 
                     </select>                    
                    </div>  
                    <div class="col-sm-3">
                      <label for="formGroupExampleInput">Kullanim alani seçin</label>
                      <select [(ngModel)]="kulname"  name="_kul" formControlName="kulalan_Id" (change)="selkull($event.target.value)"                       
                           class="browser-default custom-select" >
                             <option >Choose</option>                                    
                       <option *ngFor="let o of _kullan" [value]="o.kullanim_name" >{{o.kullanim_name}}</option>                                 
                     </select>                     
                    </div>  
                    <div class="col-sm-3">
                        <label for="formGroupExampleInput">Stil seçin</label>
                        <select [(ngModel)]="stilname"  name="_sti" formControlName="item_stil_Id" (change)="selstil($event.target.value)"                       
                             class="browser-default custom-select" >
                               <option >Choose</option>                                    
                         <option *ngFor="let o of _stil" [value]="o.item_stil_name" >{{o.item_stil_name}}</option>                                 
                       </select> 
                    </div>  
                    <div class="col-sm-3">
                      <label for="Item code" class=""><i class="fas fa-tag prefix grey-text"></i>Malın code</label>
                      <input type="text"  [(ngModel)]="item.item_code"   name="item_code"  class="form-control" formControlName="item_code" placeholder="" mdbInput> 
                    </div>                     
                    <div class="col-sm-3" *ngIf="_shomi"> 
                        <label for="formGroupExampleInput">Beden seçin</label>
                        <select [(ngModel)]="bedname" id="_b"  name="_bed" formControlName="beden_Id" (change)="selbed($event.target.value)"                       
                             class="browser-default custom-select" >
                               <option >Choose</option>                                    
                         <option *ngFor="let o of _beden" [value]="o.trEu" >{{o.trEu}}</option>                                 
                       </select>                       
                    </div>  
                    <div class="col-sm-3" *ngIf="_shomi1">
                      <label for="formGroupExampleInput">Yaka seçin</label>
                      <select [(ngModel)]="yakname" id="_y" name="_yak" formControlName="yaka_Id" (change)="selyaka($event.target.value)"                       
                           class="browser-default custom-select" >
                             <option >Choose</option>                                    
                       <option *ngFor="let o of _yaka" [value]="o.yaka_name" >{{o.yaka_name}}</option>                                 
                     </select>                        
                    </div>  
                    <div class="col-sm-3" *ngIf="_shomi1">
                      <label for="formGroupExampleInput">Qol seçin</label>
                      <select [(ngModel)]="qolname" id="_q"  name="_qol" formControlName="qol_Id" (change)="selqol($event.target.value)"                       
                           class="browser-default custom-select" >
                             <option >Choose</option>                                    
                       <option *ngFor="let o of _qoltipi" [value]="o.qoltipi_name" >{{o.qoltipi_name}}</option>                                 
                     </select>                        
                    </div>  
                    <div class="col-sm-3" *ngIf="_shomi1">
                      <label for="formGroupExampleInput">Kumaş tipi seçin</label>
                      <select [(ngModel)]="kumname" id="_ku" name="_kum" formControlName="kumash_Id" (change)="selkumas($event.target.value)"                       
                           class="browser-default custom-select" >
                             <option >Choose</option>                                    
                       <option *ngFor="let o of _kumash" [value]="o.kumash_name" >{{o.kumash_name}}</option>                                 
                     </select>                       
                    </div> 
                    <div class="col-sm-3" *ngIf="_shomi1">
                      <label for="formGroupExampleInput">Qelip seçin</label>
                      <select [(ngModel)]="qelname"  name="_qel" formControlName="qelip_Id" (change)="selqel($event.target.value)"                       
                           class="browser-default custom-select" >
                             <option >Choose</option>                                    
                       <option *ngFor="let o of _qelip" [value]="o.qelip_name" >{{o.qelip_name}}</option>                                 
                     </select>                       
                    </div>  
                    <div class="col-sm-3" *ngIf="_shomi1">
                      <label for="formGroupExampleInput">Material seçin</label>
                      <select [(ngModel)]="matname"  name="_mat" formControlName="item_materal_Id" (change)="selmater($event.target.value)"                       
                           class="browser-default custom-select" >
                             <option >Choose</option>                                    
                       <option *ngFor="let o of _mater" [value]="o.item_materal_name" >{{o.item_materal_name}}</option>                                 
                     </select> 
                    </div> 
                    <div class="col-sm-3" *ngIf="_shomi1">
                      <label for="formGroupExampleInput">Disain seçin</label>
                      <select [(ngModel)]="desname"  name="_des" formControlName="item_desen_Id" (change)="seldes($event.target.value)"                       
                           class="browser-default custom-select" >
                             <option >Choose</option>                                    
                       <option *ngFor="let o of _desen" [value]="o.item_desen_name" >{{o.item_desen_name}}</option>                                 
                     </select>                       
                      </div>
                      <div class="col-sm-3">
                        <label for="item_delivery" class=""><i class="fas fa-tag prefix grey-text"></i>Malın çatdırılması</label>
                        <input type="checkbox"  [(ngModel)]="item.item_delivery"   name="item_delivery"  class="form-control" formControlName="item_delivery" placeholder="" mdbInput> 
                    </div>
                    <div class="col-sm-4">
                      <label for="item_name" class=""><i class="fas fa-tag prefix grey-text"></i>Malın adı</label>
                    <input type="text" [(ngModel)]="item.item_name" name="item_name" placeholder="" class="form-control" formControlName="item_name" mdbInput>   
                    </div>
                    <div class="col-sm-2">
                        <label for="item_price" class=""><i class="fas fa-tag prefix grey-text"></i>Aliş price</label>
                        <input type="number"  [(ngModel)]="item.item_price"   name="item_price"  class="form-control" formControlName="item_price" placeholder="" mdbInput> 
                    </div>
                    <div class="col-sm-2">
                        <label for="item_sales_price" class=""><i class="fas fa-tag prefix grey-text"></i>Satış price</label>
                        <input type="number"  [(ngModel)]="item.item_sales_price"   name="item_sales_price"  class="form-control" formControlName="item_sales_price" placeholder="" mdbInput> 
                    </div>
                    <div class="col-sm-2">
                      <label for="item_discount" class=""><i class="fas fa-tag prefix grey-text"></i>Endirim %</label>
                      <input type="number"  [(ngModel)]="item.item_discount"   name="item_discount"  class="form-control" formControlName="item_discount" placeholder="" mdbInput> 
                   </div>
                    <div class="col-sm-2">
                        <label for="item_quantity" class=""><i class="fas fa-tag prefix grey-text"></i>Miqdarı</label>
                        <input type="number"  [(ngModel)]="item.item_quantity"   name="item_quantity"  class="form-control" formControlName="item_quantity" placeholder="" mdbInput> 
                    </div>
                    
                    <div class="col-sm-12">                                          
                    <img *ngFor="let url of urls; let i = index" [src]="url" width="50" height="50" alt="" (click)="_delFiles(i)" class="img-fluid img-thumbnail">
                     <input type="file" [src]="imgsrc" formControlName="_file" accept=" image/* " multiple (change)="_selectFiles($event)" />                   
                    </div>                   
                  </div>               
                </div>               
                <div class="modal-footer">
                 <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)=_uploadFiles() (click)="additem.hide()" [disabled]="!itemForm.valid">Save changes</button>
                 <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="additem.hide()" mdbWavesEffect>Close</button>
                 </div>
               </form>
              </div>
            </div>
          </div> 
          <!-----------------------------------=======================================================-----------------------------------[disabled]="!itemForm.valid"-------->
          <div mdbModal #delitem="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="card-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="delitem.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100" id="myModalLabel"><span>Del {{ item.item_name }}</span></h4>
                </div>
                <form  class="normal-form">           
                <div class="modal-footer">
                 <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)="ondel()" (click)="delitem.hide()">YES</button>
                 <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="delitem.hide()" mdbWavesEffect>NO</button>
                 </div>
               </form>
              </div>
            </div>
          </div> 
          <div class="table-responsive">
            <table class="table table-bordered table-responsive-md table-striped text-center"  *ngIf='listitem && listitem.length'>
            <thead>
              <tr>  <!-- [mdbTableSort]="listitem"   [sortBy]="headElements[i]"  -->
                 <th *ngFor="let head of headElements; let i = index" scope="col">{{head | titlecase}} <mdb-icon fas icon="sort"></mdb-icon>
              </th>               
               <!-- <th class="text-center">Navid</th>
                <th class="text-center">Id</th> 
                <th class="text-center">Item name</th>    
                <th class="text-center">firma_telefon</th>    
                <th class="text-center">firma_unvan</th>    
                <th class="text-center">firma_email</th>
                <th class="text-center">voen</th>            
                <th class="text-center">Sort</th>
                <th class="text-center">Actions</th>-->
              </tr>
            </thead>
            <tbody *ngFor='let p of listitem'>
              <tr>
                <!-- 'firma_name','item_price','item_name','beden','gender_name','item_color','item_categoriy_name' -->
                <td class="pt-3-half" contenteditable="true">{{ p.firma_name }}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.item_name }}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.item_price }}</td>                
                <td class="pt-3-half" contenteditable="true">{{ p.beden }}</td>               
                <td class="pt-3-half" contenteditable="true">{{ p.gender_name }}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.item_color }}</td>                
                <td class="pt-3-half" contenteditable="true">{{ p.item_categoriy_name }}</td>
                
                <!-- <td class="pt-3-half" contenteditable="true">{{ p.item_delivery }}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.item_desen_name }}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.item_discount }}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.item_hidden }}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.item_marka_name }}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.item_materal_name }}</td>
               
                <td class="pt-3-half" contenteditable="true">{{ p.item_quantity }}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.item_sales_price }}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.item_stil_name }}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.kullanim_name }}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.kumash_name }}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.qaime_date }}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.qelip_name }}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.qoltipi_name }}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.trEu }}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.yaka_name }}</td> -->
               
                <td class="pt-3-half">
                  <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up"
                        aria-hidden="true"></i></a></span>
                  <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
                        aria-hidden="true"></i></a></span>
                </td>
                <td>
                  <span class="table-remove">
                    <button type="button" (click)="additem.show()" (click)="_edititem(p)" class="btn btn-info btn-sm my-0">
                      Edit<i class="fas fa-edit"></i></button>
                    <button type="button" (click)="delitem.show()" (click)="_edititem(p)" class="btn btn-danger btn-rounded btn-sm my-0">
                      Remove<i class="fas fa-trash-alt"></i></button>
                  </span>
                </td>
              </tr>       
            </tbody>
          </table>
          </div>
          
        </div>
</mdb-card-body>
</mdb-card>
</div>       