<!--Navbar-->
<mdb-navbar #navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark unique-color justify-content-between scrolling-navbar" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <button mat-icon-button routerLink="/" (click)="onToggleSidenav()">            
      <span class="navbar-toggler-icon"></span> 
      <!-- <mdb-icon fas icon="align-justify"></mdb-icon>      -->
    </button>
    <a class="navbar-brand" href="/">{{title}}</a>
     <!-- <a class="navbar-brand" routerLink="/">
          <img src="https://mdbootstrap.com/img/Marketing/other/logo/logo-mdb-angular-small.png" height="30" alt="">
      </a>-->
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto" >     
          
       <li *ngIf="isLoggedIn && !isLoading" class="nav-item">
         <a (click)="navbar.hide()" class="nav-link waves-light" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" mdbWavesEffect>HOME<span class="sr-only">(current)</span></a>
       </li>
       
      
          <li><a class="navbar-brand" href="setting/hazirla">Hazirla</a></li> 
       <!--
      -->
     <!--  <li *ngIf="isLoggedIn && !isLoading" class="nav-item">
        <a routerLink="/admins" title="Manage" class="nav-link waves-light" mdbWavesEffect>Hello !</a>                               
      </li>               
     
      <li><a class="navbar-brand" href="core/tabb">Tabb</a></li> -->          
      <ng-container *ngIf="isLoggedIn && !isLoading && isAdmin">
       <!-- <li  class="nav-item">
          <a (click)="navbar.hide()" class="nav-link waves-light" routerLink="/admin-panel" routerLinkActive="active" mdbWavesEffect>Admin panel</a>
        </li> -->
        <li *ngFor="let it of _menu"  class="nav-item dropdown" dropdown >                
                   <a *ngIf="it.nisparent && it.pid ==null" dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                   <span class="caret">{{it.ntitle}}</span></a>               
                   <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu" >
                     <li *ngFor="let i of _childmenu">
                       <a *ngIf="!i.nisparent && i.pid==it.nid" class="dropdown-item waves-light" mdbWavesEffect href={{i.npath}}>{{i.ntitle}}</a>
                     </li>
                     <div class="divider dropdown-divider"></div>
                 </div>
          </li>
          <li *ngFor="let item of _menu" class="nav-item">
             <a *ngIf="!item.nisparent && item.pid ==null" (click)="navbar.hide()" class="nav-link waves-light" routerLink={{item.npath}} routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" mdbWavesEffect>{{item.ntitle}}</a>
         </li>
      </ng-container>    
   </ul>
    <ul class="navbar-nav">                 
      
    </ul>
    <!-- Links -->

    <!-- Search form -->
    
    
    <ul class="navbar-nav" *ngIf="!isLoggedIn && !isLoading">
      
      <li class="nav-item waves-light">
        <a (click)="navbar.hide()" class="nav-link waves-light" routerLink="/login" mdbWavesEffect>Login</a>
      </li>
      <!-- <li class="nav-item waves-light">
        <a (click)="navbar.hide()" class="nav-link waves-light" routerLink="/register" mdbWavesEffect>Register</a>
      </li> -->
    </ul>

    <ul class="navbar-nav" *ngIf="isLoggedIn && !isLoading">
      <li class="nav-item">
        <a class="nav-link waves-effect">
         <span class="badge red z-depth-1 mr-1"> 1 </span>        
         <i class="fas fa-shopping-cart"></i>
         <span class="clearfix d-none d-sm-inline-block"> Cart </span>
       </a>
     </li>
      <li class="nav-link waves-light dropdown avatar p-0 avatar-dropdown" mdbDropdown>
        <a mdbDropdownToggle mdbWavesEffect type="button" class="nav-link waves-light"  mdbWavesEffect>
          <i *ngIf="!user.photoUrl" class="fas fa-sign-out-alt"></i>
          <img *ngIf="user.photoUrl" src="{{ _photoUrl }}" height="35" width="35" class="rounded-circle z-depth-0" alt="avatar image">
        </a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-primary" role="menu">            
              <div *ngIf="user.displayName" class="text-center py-2 px-2"> {{ user.displayName }}</div>
              <div *ngIf="!user.displayName" class="text-center py-2 px-2">Anonymous user</div>
              <div class="divider dropdown-divider"></div>
              <a  class="dropdown-item text-center waves-light" routerLink="/manage" title="Manage" mdbWavesEffect>Manager</a> 
              <a class="dropdown-item text-center waves-light" mdbWavesEffect (click)="onLogout(); navbar.hide()">Logout</a>
          </div>
      </li>
      <li class="nav-item waves-light logout-button">
        <a class="nav-link waves-light" mdbWavesEffect (click)="onLogout(); navbar.hide()">Logout</a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
